includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true

    ignoreErrors:
        - '#Trait .+ is used zero times and is not analysed\.#'
